$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

h1 {
  text-align: center;
  color: #c14431;
  font-family: 'Black Han Sans', sans-serif;
}

.game-board {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #c55e47;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box {
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  color: red;
}

.auth {
  margin: 100px;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}

#sign-in {
  margin-top: 80px;
}

#sign-out {
  margin-top: 80px;
}

#new-game {
  margin-top: 200px;
  margin-bottom: 200px;
  color: red;
}

body {
  background-color: #1a9ea5;
}
